@model IEnumerable<ECMills.Models.sp_GetCrematoriums_Result>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="material-datatables">
                        <table class="datatables table table-striped table-no-bordered table-hover" cellspacing="0" style="width:100%">
                            <thead class="text-rose">
                                <tr>
                                    <td>Name</td>
                                    <td>Address Line 1</td>
                                    <td>Address Line 2</td>
                                    <td>City</td>
                                    <td>PostCode</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Crematorium in Model)
                                {
                                <tr>
                                    <td>@Crematorium.ID</td>
                                    <td>@Crematorium.AddressLine1</td>
                                    <td>@Crematorium.AddressLine2</td>
                                    <td>@Crematorium.City</td>
                                    <td>@Crematorium.PostCode</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            MyJS.initMaterialDatatables();
        });
    </script>
}