@model IEnumerable<ECMills.Models.sp_GetClientFile_Result>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<br />
<table class="table table-hover table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <td>Data Name</td>
            <td>Data Result</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>Surname</td>
                <td>@customer.Surname</td>
            </tr>
            <tr>
                <td>OurReference</td>
                <td>@customer.OurReference</td>
            </tr>
            <tr>
                <td>Forenames</td>
                <td>@customer.Forenames_</td>
            </tr>
            <tr>
                <td>Address1</td>
                <td>@customer.Address1</td>
            </tr>
            <tr>
                <td>Address2</td>
                <td>@customer.Address2</td>
            </tr>
            <tr>
                <td>Address3</td>
                <td>@customer.Address3</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>@customer.Age</td>
            </tr>
            <tr>
                <td>Denomination</td>
                <td>@customer.Denomination</td>
            </tr>
            <tr>
                <td>Burial</td>
                <td>@customer.Burial</td>
            </tr>
            <tr>
                <td>Commitment</td>
                <td>@customer.Commitment</td>
            </tr>
            <tr>
                <td>CommitmentTime</td>
                <td>@customer.CommitmentTime</td>
            </tr>
            <tr>
                <td>DateOfDeath</td>
                <td>@customer.DateOfDeath</td>
            </tr>
            <tr>
                <td>PlaceOfDeath</td>
                <td>@customer.PlaceOfDeath</td>
            </tr>
            <tr>
                <td>RemovedFrom</td>
                <td>@customer.RemovedFrom</td>
            </tr>
            <tr>
                <td>RemovedTo</td>
                <td>@customer.RemovedTo</td>
            </tr>
            <tr>
                <td>Remain</td>
                <td>@customer.Remain</td>
            </tr>
            <tr>
                <td>RemoveCost</td>
                <td>@customer.RemoveCost</td>
            </tr>
            <tr>
                <td>ServiceLoc</td>
                <td>@customer.ServiceLoc</td>
            </tr>
            <tr>
                <td>ServiceDate</td>
                <td>@customer.ServiceDate</td>
            </tr>
            <tr>
                <td>ServiceTime</td>
                <td>@customer.ServiceTime</td>
            </tr>
            <tr>
                <td>NoService</td>
                <td>@customer.NoService</td>
            </tr>
            <tr>
                <td>NameTaking</td>
                <td>@customer.NameTaking</td>
            </tr>
            <tr>
                <td>GraveNumber</td>
                <td>@customer.GraveNumber</td>
            </tr>
            <tr>
                <td>Organist</td>
                <td>@customer.Organist</td>
            </tr>
            <tr>
                <td>MinisterTransport</td>
                <td>@customer.MinisterTransport</td>
            </tr>
            <tr>
                <td>MinisterInformation</td>
                <td>@customer.MinisterInformation</td>
            </tr>
            <tr>
                <td>HearseWill</td>
                <td>@customer.HearseWill</td>
            </tr>
            <tr>
                <td>HearseAt</td>
                <td>@customer.HearseAt</td>
            </tr>
            <tr>
                <td>Ashes</td>
                <td>@customer.Ashes</td>
            </tr>
            <tr>
                <td>TotalCost</td>
                <td>@customer.TotalCost</td>
            </tr>
        }
    </tbody>
</table>
