<div class="sidebar" data-color="rose" data-background-color="black" data-image="/Content/images/MaterialDash/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="https://millsfunerals.com" class="simple-text logo-mini">
            E.C.
        </a>
        <a href="https://millsfunerals.com" class="simple-text logo-normal">
            Mills Funerals
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Content/Images/MaterialDash/faces/avatar.jpg" />
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        Ryan Gillooly <!-- This will be the current users name, linking to their profile-->
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> MP </span>
                                <span class="sidebar-normal"> My Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> EP </span>
                                <span class="sidebar-normal"> Edit Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Info", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">info_outline</i>
                    <p>Info</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Deceased", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">person</i>
                    <p>Deceased</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Contacts", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">call</i>
                    <p>Contacts</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Ceremony", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">library_books</i>
                    <p>Ceremony</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Coffin", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">library_books</i>
                    <p>Coffin</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Transport", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">directions_car</i>
                    <p>Transport</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./notifications.html">
                    <i class="material-icons">add</i>
                    <p>Additions</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./rtl.html">
                    <i class="material-icons">create</i>
                    <p>Notes</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">attach_money</i>
                    <p>Donations</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">attach_money</i>
                    <p>Finance</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">message</i>
                    <p>Correspondence</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Documents", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">insert_drive_file</i>
                    <p>Documents</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Dashboard", null)">
                    <i class="material-icons">dashboard</i>
                    <p>Back to Dashboard</p>
                </a>
            </li>
        </ul>
    </div>
</div>