<div class="sidebar" data-color="rose" data-background-color="black" data-image="/Assets/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="https://millsfunerals.com" class="simple-text logo-mini">
            E.C.
        </a>
        <a href="https://millsfunerals.com" class="simple-text logo-normal">
            Mills Funerals
        </a>
    </div>
    <div class="sidebar-wrapper" style="height: 88%;">
        <div class="user">
            <div class="photo">
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        Ryan Gillooly <!-- This will be the current users name, linking to their profile-->
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> MP </span>
                                <span class="sidebar-normal"> My Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> EP </span>
                                <span class="sidebar-normal"> Edit Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Info", "Arrangement", null, null)">
                    <i class="material-icons">info_outline</i>
                    <p>Info</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Deceased", "Arrangement", null, null)">
                    <i class="material-icons">person</i>
                    <p>Deceased</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Contacts", "Arrangement", null, null)">
                    <i class="material-icons">call</i>
                    <p>Contacts</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Ceremony", "Arrangement", null, null)">
                    <i class="material-icons">library_books</i>
                    <p>Ceremony</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Coffin", "Arrangement", null, null)">
                    <i class="material-icons">library_books</i>
                    <p>Coffin</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#TransportDropdown" aria-expanded="false">
                    <i class="material-icons">directions_car</i>
                    <p>Transport<b class="caret"></b></p>
                </a>
                <div class="collapse" id="TransportDropdown">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("TransportDetails", "Arrangement", null, null)">
                                <span class="sidebar-mini"> D </span>
                                <span class="sidebar-normal"> Details </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("TransportMap", "Arrangement", null, null)">
                                <span class="sidebar-mini"> M </span>
                                <span class="sidebar-normal"> Map </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Additions", "Arrangement", null, null)">
                    <i class="material-icons">add</i>
                    <p>Additions</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Notes", "Arrangement", null, null)">
                    <i class="material-icons">create</i>
                    <p>Notes</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#FinanceDropdown" aria-expanded="false">
                    <i class="material-icons">attach_money</i>
                    <p>Finance<b class="caret"></b></p>
                </a>
                <div class="collapse" id="FinanceDropdown" style="">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Sales", "Arrangement", null, null)">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Sales </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Donations", "Arrangement", null, null)">
                                <span class="sidebar-mini"> D </span>
                                <span class="sidebar-normal"> Donations </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Correspondence", "Arrangement", null, null)">
                    <i class="material-icons">message</i>
                    <p>Correspondence</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Documents", "Arrangement", null, null)">
                    <i class="material-icons">insert_drive_file</i>
                    <p>Documents</p>
                </a>
            </li>
        </ul>
    </div>
</div>