<div class="sidebar" data-color="purple" data-background-color="white" data-image="~/Images/MaterialDash/sidebar-1.jpg">
    <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
        -->
    @{
        string PreviousController = Request.UrlReferrer.AbsolutePath.Split('/')[1];
    }
    <div class="logo">
        <a href="https://millsfunerals.com" class="simple-text logo-normal">
            E.C. Mills Funerals
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Arrangement" &&
                                   ViewContext.RouteData.Values["Action"].ToString() == "Info" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("Info", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">info_outline</i>
                    <p>Info</p>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Arrangement" &&
                                  ViewContext.RouteData.Values["Action"].ToString() == "Deceased"? "active" : "")">
                <a class="nav-link" href="@Url.Action("Deceased", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">person</i>
                    <p>Deceased</p>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Arrangement" &&
                                   (
                                     ViewContext.RouteData.Values["Action"].ToString() == "Contacts"
                                   )? "active" : "")">
                <a class="nav-link" href="@Url.Action("Contacts", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">call</i>
                    <p>Contacts</p>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Arrangement" &&
                                   (
                                     ViewContext.RouteData.Values["Action"].ToString() == "Ceremony"
                                   )? "active" : "")">
                <a class="nav-link" href="@Url.Action("Ceremony", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">library_books</i>
                    <p>Ceremony</p>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Arrangement" &&
                                   (
                                     ViewContext.RouteData.Values["Action"].ToString() == "Coffin"
                                   )? "active" : "")">
                <a class="nav-link" href="@Url.Action("Coffin", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">library_books</i>
                    <p>Coffin</p>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Arrangement" &&
                                   (
                                     ViewContext.RouteData.Values["Action"].ToString() == "Transport"
                                   )? "active" : "")">
                <a class="nav-link" href="@Url.Action("Transport", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">directions_car</i>
                    <p>Transport</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./notifications.html">
                    <i class="material-icons">add</i>
                    <p>Additions</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./rtl.html">
                    <i class="material-icons">create</i>
                    <p>Notes</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">attach_money</i>
                    <p>Donations</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">attach_money</i>
                    <p>Finance</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">message</i>
                    <p>Correspondence</p>
                </a>
            </li>
            <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Arrangement" &&
                                   ViewContext.RouteData.Values["Action"].ToString()     == "Documents" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("Documents", "Arrangement", new { id = Session["DeceasedID"] }, null)">
                    <i class="material-icons">insert_drive_file</i>
                    <p>Documents</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Dashboard", null)">
                    <i class="material-icons">dashboard</i>
                    <p>Back to Dashboard</p>
                </a>
            </li>
        </ul>
    </div>
</div>