<div class="sidebar" data-color="rose" data-background-color="black" data-image="/Content/images/MaterialDash/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="https://millsfunerals.com" class="simple-text logo-mini">
            E.C.
        </a>
        <a href="https://millsfunerals.com" class="simple-text logo-normal">
            Mills Funerals
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Content/Images/MaterialDash/faces/avatar.jpg" />
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        Ryan Gillooly <!-- This will be the current users name, linking to their profile-->
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> MP </span>
                                <span class="sidebar-normal"> My Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> EP </span>
                                <span class="sidebar-normal"> Edit Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Dashboard" &&
                                    ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("Index", "Dashboard", null, null)">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "FirstCalls" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("Index", "FirstCalls", null, null)">
                    <i class="material-icons">person</i>
                    <p>First Calls</p>
                </a>
            </li>
            <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Arrangement" &&
                                    ViewContext.RouteData.Values["Action"].ToString() == "ArrangementList" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("ArrangementList", "Arrangement", null, null)">
                    <i class="material-icons">content_paste</i>
                    <p>Arrangements</p>
                </a>
            </li>
            <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Dashboard" &&
                                    ViewContext.RouteData.Values["Action"].ToString() == "Diary" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("Diary", "Dashboard", null, null)">
                    <i class="material-icons">library_books</i>
                    <p>Diary</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./icons.html">
                    <i class="material-icons">bubble_chart</i>
                    <p>Community</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./map.html">
                    <i class="material-icons">location_ons</i>
                    <p>Funeral Plan Enquiries</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./notifications.html">
                    <i class="material-icons">notifications</i>
                    <p>Funeral Plans</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./rtl.html">
                    <i class="material-icons">language</i>
                    <p>Accounts</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Contacts</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./upgrade.html">
                    <i class="material-icons">unarchive</i>
                    <p>Reports</p>
                </a>
            </li>
        </ul>
    </div>
</div>
