<div class="sidebar" data-color="rose" data-background-color="black" data-image="/Assets/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="https://millsfunerals.com" class="simple-text logo-mini">
            E.C.
        </a>
        <a href="https://millsfunerals.com" class="simple-text logo-normal">
            Mills Funerals
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Assets/img/faces/avatar.jpg" />
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        Ryan Gillooly <!-- This will be the current users name, linking to their profile-->
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> MP </span>
                                <span class="sidebar-normal"> My Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> EP </span>
                                <span class="sidebar-normal"> Edit Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Dashboard", "Dashboard", null, null)">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("FirstCalls", "FirstCalls", null, null)">
                    <i class="material-icons">person</i>
                    <p>First Calls</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("List", "Arrangement", null, null)">
                    <i class="material-icons">content_paste</i>
                    <p>Arrangements</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Diary", "Diary", null, null)">
                    <i class="material-icons">date_range</i>
                    <p>Diary</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">group</i>
                    <p>Community</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">location_ons</i>
                    <p>Funeral Plan Enquiries</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">notifications</i>
                    <p>Funeral Plans</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#AccountsDropdown" aria-expanded="false" aria-controls="AccountsDropdown">
                    <i class="material-icons">attach_money</i>
                    <p>Accounts <b class="caret"></b></p>
                </a>
                <div class="collapse" id="AccountsDropdown" style="">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("PurchaseOrders", "Accounts", null, null)">
                                <span class="sidebar-mini"> PO </span>
                                <span class="sidebar-normal"> Purchase Orders </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Payments", "Accounts", null, null)">
                                <span class="sidebar-mini"> FP </span>
                                <span class="sidebar-normal"> Fees Payments </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#ContactsDropdown" aria-expanded="false" aria-controls="ContactsDropdown">
                    <i class="material-icons">unarchive</i>
                    <p>Contacts <b class="caret"></b></p>
                </a>
                <div class="collapse" id="ContactsDropdown" style="">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Suppliers", "Contacts", null, null)">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Suppliers </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Addresses", "Contacts", null, null)">
                                <span class="sidebar-mini"> A </span>
                                <span class="sidebar-normal"> Addresses </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contacts", "Contacts", null, null)">
                                <span class="sidebar-mini"> C </span>
                                <span class="sidebar-normal"> Contacts </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#ReportsDropdown" aria-expanded="false" aria-controls="ReportsDropdown">
                    <i class="material-icons">unarchive</i>
                    <p>Reports <b class="caret"></b></p>
                </a>
                <div class="collapse" id="ReportsDropdown" style="">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Management", "Reports", null, null)">
                                <span class="sidebar-mini"> M </span>
                                <span class="sidebar-normal"> Management </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("General", "Reports", null, null)">
                                <span class="sidebar-mini"> G </span>
                                <span class="sidebar-normal"> General </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Finance", "Reports", null, null)">
                                <span class="sidebar-mini"> F </span>
                                <span class="sidebar-normal"> Finance </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("FuneralPlan", "Reports", null, null)">
                                <span class="sidebar-mini"> FP </span>
                                <span class="sidebar-normal"> Funeral Plan </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
