<div class="sidebar" data-color="rose" data-background-color="black" data-image="/Assets/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="https://millsfunerals.com" class="simple-text logo-mini">
            E.C.
        </a>
        <a href="https://millsfunerals.com" class="simple-text logo-normal">
            Mills Funerals
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Assets/img/faces/avatar.jpg" />
            </div>
            <div class="user-info">
                <a data-toggle="collapse" href="#collapseExample" class="username">
                    <span>
                        Ryan Gillooly <!-- This will be the current users name, linking to their profile-->
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> MP </span>
                                <span class="sidebar-normal"> My Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> EP </span>
                                <span class="sidebar-normal"> Edit Profile </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="sidebar-mini"> S </span>
                                <span class="sidebar-normal"> Settings </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Dashboard" &&
                                    ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("Dashboard", "Dashboard", null, null)">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "FirstCalls" &&
                                    ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("FirstCalls", "FirstCalls", null, null)">
                    <i class="material-icons">person</i>
                    <p>First Calls</p>
                </a>
            </li>
            <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Arrangement" &&
                                    ViewContext.RouteData.Values["Action"].ToString() == "ArrangementList" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("List", "Arrangement", null, null)">
                    <i class="material-icons">content_paste</i>
                    <p>Arrangements</p>
                </a>
            </li>
            <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Diary" &&
                                    ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <a class="nav-link" href="@Url.Action("Diary", "Diary", null, null)">
                    <i class="material-icons">date_range</i>
                    <p>Diary</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./icons.html">
                    <i class="material-icons">group</i>
                    <p>Community</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./map.html">
                    <i class="material-icons">location_ons</i>
                    <p>Funeral Plan Enquiries</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="./notifications.html">
                    <i class="material-icons">notifications</i>
                    <p>Funeral Plans</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#AccountsDropdown" aria-expanded="false" aria-controls="AccountsDropdown">
                    <i class="fas fa-pound-sign"></i>
                    <p>Accounts <b class="caret"></b></p>
                </a>
                <ul class="collapse" id="AccountsDropdown">
                    <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Accounts" &&
                                    ViewContext.RouteData.Values["Action"].ToString() == "PurchaseOrders" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("PurchaseOrders", "Accounts", null, null)">
                            <i class="fas fa-shopping-basket"></i>
                            <p>Purchase Orders</p>
                        </a>
                    </li>
                    <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Accounts" &&
                                           ViewContext.RouteData.Values["Action"].ToString() == "Payments" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Payments", "Accounts", null, null)">
                            <i class="fas fa-pound-sign"></i>
                            <p>Fees Payments</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#ContactsDropdown" aria-expanded="false" aria-controls="ContactsDropdown">
                    <i class="material-icons">unarchive</i>
                    <p>Contacts <b class="caret"></b></p>
                </a>
                <ul class="collapse" id="ContactsDropdown">
                    <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Contacts" &&
                                    ViewContext.RouteData.Values["Action"].ToString() == "Suppliers" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Suppliers", "Contacts", null, null)">
                            <i class="fas fa-pound-sign"></i>
                            <p>Suppliers</p>
                        </a>
                    </li>
                    <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Contacts" &&
                                           ViewContext.RouteData.Values["Action"].ToString() == "Addresses" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Addresses", "Contacts", null, null)">
                            <i class="fas fa-pound-sign"></i>
                            <p>Addresses</p>
                        </a>
                    </li>
                    <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Contacts" &&
                                           ViewContext.RouteData.Values["Action"].ToString() == "Contacts" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Contacts", "Contacts", null, null)">
                            <i class="fas fa-pound-sign"></i>
                            <p>Contacts</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="collapse" href="#ReportsDropdown" aria-expanded="false" aria-controls="ReportsDropdown">
                    <i class="material-icons">unarchive</i>
                    <p>Reports <b class="caret"></b></p>
                </a>
                <ul class="collapse" id="ReportsDropdown">
                    <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Reports" &&
                                    ViewContext.RouteData.Values["Action"].ToString() == "Management" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Management", "Reports", null, null)">
                            <i class="fas fa-shopping-basket"></i>
                            <p>Management</p>
                        </a>
                    </li>
                    <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Reports" &&
                                           ViewContext.RouteData.Values["Action"].ToString() == "General" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("General", "Reports", null, null)">
                            <i class="fas fa-pound-sign"></i>
                            <p>General</p>
                        </a>
                    </li>
                    <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Reports" &&
                                           ViewContext.RouteData.Values["Action"].ToString() == "Finance" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Finance", "Reports", null, null)">
                            <i class="fas fa-pound-sign"></i>
                            <p>Finance</p>
                        </a>
                    </li>
                    <li class="nav-item  @(ViewContext.RouteData.Values["Controller"].ToString() == "Reports" &&
                                           ViewContext.RouteData.Values["Action"].ToString() == "FuneralPlan" ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("FuneralPlan", "Reports", null, null)">
                            <i class="fas fa-pound-sign"></i>
                            <p>Funeral Plan</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
