@model IEnumerable<ECMills.Models.sp_GetDeceasedList_Result>

@{
    ViewBag.Title = "Arrangement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Deceased Persons</h4>
            <p class="card-category">ID's 0 - 30</p>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-primary">
                    <tr>
                        <th>Reference</th>
                        <th>Type</th>
                        <th>SubType</th>
                        <th>Status</th>
                        <th>Deceased Name</th>
                        <th>Client Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var deceased in Model)
                    {
                        <tr>
                            <td>@deceased.Reference</td>
                            <td>@deceased.Type</td>
                            <td>@deceased.SubType</td>
                            <td>@deceased.Status</td>
                            <td>@deceased.Deceased_Name</td>
                            <td>@deceased.Client_Name</td>
                            <td class="td-actions">
                                <button type="button" rel="tooltip" class="btn btn-info">
                                    <a href="@Url.Action("CaptureID", "Arrangement", new { id = deceased.Reference }, null)">
                                        <i class="material-icons">person</i>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


