@using ECMills.Models;
@model dynamic

@{
    ViewBag.Title = "Arrangement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-md-12">
    <div class="card col-md-5">
        <div class="card-body">
            Listed Contacts
            <hr />
            <table class="table-responsive table-hover">
                @{
                    Int32 DeceasedContactID = 0;
                    Dictionary<string, dynamic> ContactDictionaryArray = new Dictionary<string, dynamic>();
                }
                @foreach (sp_GetDeceasedContactsList_Result DeceasedContactList in Model.DeceasedContactList)
                {
                    DeceasedContactID = DeceasedContactID + 1;

                    // Add address details into the dictionary array called "AddressDictionaryArray"
                    ContactDictionaryArray.Add(String.Format("Name_{0}", DeceasedContactID.ToString()), DeceasedContactList.Name);
                    ContactDictionaryArray.Add(String.Format("ContactType_{0}", DeceasedContactID.ToString()), DeceasedContactList.ContactType);
                    ContactDictionaryArray.Add(String.Format("AddressLine1_{0}", DeceasedContactID.ToString()), DeceasedContactList.AddressLine1);
                    ContactDictionaryArray.Add(String.Format("AddressLine2_{0}", DeceasedContactID.ToString()), DeceasedContactList.AddressLine2);
                    ContactDictionaryArray.Add(String.Format("City_{0}", DeceasedContactID.ToString()), DeceasedContactList.City);
                    ContactDictionaryArray.Add(String.Format("Postcode_{0}", DeceasedContactID.ToString()), DeceasedContactList.PostCode);
                    ContactDictionaryArray.Add(String.Format("DOB_{0}", DeceasedContactID.ToString()), DeceasedContactList.DateOfBirth);
                    ContactDictionaryArray.Add(String.Format("Occupation_{0}", DeceasedContactID.ToString()), DeceasedContactList.Occupation);
                    ContactDictionaryArray.Add(String.Format("PointOfContactType_{0}", DeceasedContactID.ToString()), DeceasedContactList.PointOfContactType);
                    ContactDictionaryArray.Add(String.Format("PointOfContactValue_{0}", DeceasedContactID.ToString()), DeceasedContactList.PointOfContactValue);
                    ContactDictionaryArray.Add(String.Format("Relationship_{0}", DeceasedContactID.ToString()), DeceasedContactList.Relationship);
                    ContactDictionaryArray.Add(String.Format("Notes_{0}", DeceasedContactID.ToString()), DeceasedContactList.Notes);
                    ContactDictionaryArray.Add(String.Format("ConsentToBeContacted_{0}", DeceasedContactID.ToString()), DeceasedContactList.ConsentToBeContacted);
                    ContactDictionaryArray.Add(String.Format("AccountModerator_{0}", DeceasedContactID.ToString()), DeceasedContactList.AccountModerator);
                    <tr>
                        <td>
                            <button id="@DeceasedContactID" type="button" onclick="GetDeceasedContactDetails(@DeceasedContactID)" class="ContactsButton btn btn-outline-primary text-left col-md-12">
                                <table class="col-md-5">
                                    <tr class="col-md-12">
                                        <th align="left">@DeceasedContactList.ContactType</th>
                                        <th align="right">@DeceasedContactList.Relationship</th>
                                    </tr>
                                    <tr>
                                        <td align="left">@DeceasedContactList.Name</td>
                                        <td align="right">@DeceasedContactList.PointOfContactValue</td>
                                    </tr>
                                </table>
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="col-md-1">

    </div>

    <div class="card table-responsive col-md-5">
        <div class="card-body">
            Contact Details
            <hr />
            <div id="testerdiv">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-static">
                                Contact Type
                            </label>
                            <div id="ContactType" class="form-control">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-static">
                                Address Line 1
                            </label>
                            <div id="AddressLine1" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-static">
                                Address Line 2
                            </label>
                            <div id="AddressLine2" class="form-control">

                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-static">
                                City
                            </label>
                            <div id="City" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-static">
                                PostCode
                            </label>
                            <div id="PostCode" class="form-control">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-static">
                                Contact Name
                            </label>
                            <div id="ContactName" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-static">
                                Contact Points
                            </label>
                            <div id="ContactPoints" class="form-control">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Notes</label>
                            <!-- <textarea class="form-control" rows="3"></textarea> -->
                            <div id="Notes" class="form-control">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        function GetDeceasedContactDetails(DeceasedContactID)
        {   // Clear the current address detail values from the page to get ready for the new values
            $("#ContactType").empty();
            $("#AddressLine1").empty();
            $("#AddressLine2").empty();
            $("#City").empty();
            $("#PostCode").empty();
            $("#ContactName").empty();
            $("#ContactPoints").empty();
            $("#Noted").empty();

            // Add the correct address detail for the selected address
            if (DeceasedContacts == 1)
            {
                $('#ContactType').append("@ContactDictionaryArray["ContactType_1"]");
                $("#AddressLine1").append("@ContactDictionaryArray["AddressLine1_1"]");
                $("#AddressLine2").append("@ContactDictionaryArray["AddressLine2_1"]");
                $("#City").append("@ContactDictionaryArray["City_1"]");
                $("#PostCode").append("@ContactDictionaryArray["PostCode_1"]");
                $('#ContactName').append("@ContactDictionaryArray["ContactName_1"]");
                $('#ContactPoints').append("@ContactDictionaryArray["ContactPoints_1"]");
                $('#Notes').append("@ContactDictionaryArray["Notes_1"]");
            }
            else if (DeceasedContacts == 2)
            {
                $('#ContactType').append("@ContactDictionaryArray["ContactType_1"]");
                $("#AddressLine1").append("@ContactDictionaryArray["AddressLine1_1"]");
                $("#AddressLine2").append("@ContactDictionaryArray["AddressLine2_1"]");
                $("#City").append("@ContactDictionaryArray["City_1"]");
                $("#PostCode").append("@ContactDictionaryArray["PostCode_1"]");
                $('#ContactName').append("@ContactDictionaryArray["ContactName_1"]");
                $('#ContactPoints').append("@ContactDictionaryArray["ContactPoints_1"]");
                $('#Notes').append("@ContactDictionaryArray["Notes_1"]");
            } 
            else if (DeceasedContacts == 3)
            {
                $('#ContactType').append("@ContactDictionaryArray["ContactType_3"]");
                $("#AddressLine1").append("@ContactDictionaryArray["AddressLine1_3"]");
                $("#AddressLine2").append("@ContactDictionaryArray["AddressLine2_3"]");
                $("#City").append("@ContactDictionaryArray["City_1"]");
                $("#PostCode").append("@ContactDictionaryArray["PostCode_1"]");
                $('#ContactName').append("@ContactDictionaryArray["ContactName_1"]");
                $('#ContactPoints').append("@ContactDictionaryArray["ContactPoints_1"]");
                $('#Notes').append("@ContactDictionaryArray["Notes_1"]");
            }
        };
    };
    </script>
}