@using ECMills.Models;
@model dynamic

@{
    ViewBag.Title = "Arrangement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul id="ContactsPage">
    <li id="ContactListItem">
        <div class="card RemoveMargins FullHeightWidth" id="ListedContactsCard">
            <div class="card-body">
                Listed Contacts
                <hr />
                <ul class="RemovePadding">
                    @{
                        Int32 DeceasedContactID = 0;
                        Dictionary<string, string> ContactDictionaryArray = new Dictionary<string, string>();
                    }
                    @foreach (sp_GetDeceasedContactsList_Result DeceasedContactList in Model.DeceasedContactList)
                    {
                        DeceasedContactID = DeceasedContactID + 1;

                        // Add Contact details into the dictionary array called "ContactDictionaryArray"
                        ContactDictionaryArray.Add(String.Format("Name_{0}", DeceasedContactID.ToString()), DeceasedContactList.Name);
                        ContactDictionaryArray.Add(String.Format("ContactType_{0}", DeceasedContactID.ToString()), DeceasedContactList.ContactType);
                        ContactDictionaryArray.Add(String.Format("AddressLine1_{0}", DeceasedContactID.ToString()), DeceasedContactList.AddressLine1);
                        ContactDictionaryArray.Add(String.Format("AddressLine2_{0}", DeceasedContactID.ToString()), DeceasedContactList.AddressLine2);
                        ContactDictionaryArray.Add(String.Format("City_{0}", DeceasedContactID.ToString()), DeceasedContactList.City);
                        ContactDictionaryArray.Add(String.Format("Postcode_{0}", DeceasedContactID.ToString()), DeceasedContactList.PostCode);
                        ContactDictionaryArray.Add(String.Format("DOB_{0}", DeceasedContactID.ToString()), DeceasedContactList.DateOfBirth.ToString());
                        ContactDictionaryArray.Add(String.Format("Occupation_{0}", DeceasedContactID.ToString()), DeceasedContactList.Occupation);
                        ContactDictionaryArray.Add(String.Format("Relationship_{0}", DeceasedContactID.ToString()), DeceasedContactList.Relationship);
                        ContactDictionaryArray.Add(String.Format("Notes_{0}", DeceasedContactID.ToString()), DeceasedContactList.Notes);
                        ContactDictionaryArray.Add(String.Format("ConsentToBeContacted_{0}", DeceasedContactID.ToString()), DeceasedContactList.ConsentToBeContacted.ToString());
                        ContactDictionaryArray.Add(String.Format("AccountModerator_{0}", DeceasedContactID.ToString()), DeceasedContactList.AccountModerator.ToString());
                       
                        <li>
                            <button id="@DeceasedContactID" type="button" onclick="GetDeceasedContactDetails(@DeceasedContactID)" class="DeceasedContactDetailButton btn btn-outline-primary text-left">
                                <ul class="FourByFourGrid RemovePadding">
                                    <li class="Col1Row1">@DeceasedContactList.ContactType</li>
                                    <li class="Col2Row1">@DeceasedContactList.Relationship</li>
                                    <li class="Col1Row2">@DeceasedContactList.Name</li>
                                    <li class="Col2Row2">07415835716</li>
                                </ul>
                            </button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </li>
    <li id="ContactDetailsListItem">
        <div class="card RemoveMargins FullHeightWidth" id="ContactDetailsCard">
            <div class="card-body">
                Contact Details

                <hr />

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Contact Type
                    </label>
                    <div id="ContactType" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Relationship
                    </label>
                    <div id="Relationship" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Name
                    </label>
                    <div id="Name" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Date Of Birth
                    </label>
                    <div id="DOB" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Occupation
                    </label>
                    <div id="Occupation" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Accounts Moderator
                    </label>
                    <div id="AccountsModerator" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Address
                    </label>
                    <div id="Address" class="form-control">

                    </div>
                </div>

                <div class="form-group">
                    <label>Notes</label>
                    <!-- <textarea class="form-control" rows="3"></textarea> -->
                    <div id="Notes" class="form-control">

                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

@section scripts {
    <script type="text/javascript">
        function GetDeceasedContactDetails(DeceasedContactID)
        {   // Clear the current address detail values from the page to get ready for the new values
            $('#ContactType'         ).empty();
            $("#Relationship"        ).empty();     
            $("#Name"                ).empty();        
            $("#DOB"                 ).empty();        
            $("#Occupation"          ).empty();       
            $('#AccountsModerator'   ).empty();   
            $('#Address'             ).empty();    
            $('#Notes'               ).empty();     
            $('#ConsentToBeContacted').empty();

            // Add the correct address detail for the selected address
            if (DeceasedContactID == 1)
            {
                $('#ContactType'            ).append("@ContactDictionaryArray["ContactType_1"]");
                $("#Relationship"           ).append("@ContactDictionaryArray["Relationship_1"]");
                $("#Name"                   ).append("@ContactDictionaryArray["Name_1"]");
                $("#DOB"                    ).append("@ContactDictionaryArray["DOB_1"]");
                $("#Occupation"             ).append("@ContactDictionaryArray["Occupation_1"]");
                $('#AccountsModerator'      ).append("@ContactDictionaryArray["AccountModerator_1"]");
                $('#Address'                ).append("@ContactDictionaryArray["AddressLine1_1"]");
                $('#Notes'                  ).append("@ContactDictionaryArray["Notes_1"]");
                $('#ConsentToBeContacted'   ).append("@ContactDictionaryArray["ConsentToBeContacted_1"]");
            }
            else if (DeceasedContactID == 2)
            {
                $('#ContactType'            ).append("@ContactDictionaryArray["ContactType_2"]");
                $("#Relationship"           ).append("@ContactDictionaryArray["Relationship_2"]");
                $("#Name"                   ).append("@ContactDictionaryArray["Name_2"]");
                $("#DOB"                    ).append("@ContactDictionaryArray["DOB_2"]");
                $("#Occupation"             ).append("@ContactDictionaryArray["Occupation_2"]");
                $('#AccountsModerator'      ).append("@ContactDictionaryArray["AccountModerator_2"]");
                $('#Address'                ).append("@ContactDictionaryArray["AddressLine1_2"]");
                $('#Notes'                  ).append("@ContactDictionaryArray["Notes_2"]");
                $('#ConsentToBeContacted'   ).append("@ContactDictionaryArray["ConsentToBeContacted_2"]");
            }
            // Need to add handling for this to automatically allocate
    
        };
    </script>
}