@using ECMills.Models;
@model dynamic

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i class="material-icons">perm_identity</i>
                    </div>
                    <h4 class="card-title">
                        Contacts
                        <small class="category">Listed Contacts</small>
                    </h4>
                </div>
                <div class="card-body">
                    Listed Contacts

                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills nav-pills-rose nav-pills-icons justify-content-center" role="tablist">
                                @{
                                    Int16 ListItem = 1;
                                    foreach (sp_GetDeceasedContactsList_Result DeceasedContactList in Model.DeceasedContactList)
                                    {

                                        string address = DeceasedContactList.AddressLine1 + ", " + DeceasedContactList.AddressLine2 + ", " + DeceasedContactList.City + ", " + DeceasedContactList.PostCode;

                                        <li class="nav-item col-md-12">
                                            <a class="nav-link @(ListItem == 1 ? "active" : "")" data-toggle="tab" role="tablist" onclick="MyJS.GetDeceasedContactsDetails('@DeceasedContactList.ContactType','@DeceasedContactList.Relationship','@DeceasedContactList.Name','@DeceasedContactList.DateOfBirth','@DeceasedContactList.Occupation','@DeceasedContactList.AccountModerator','@address','@DeceasedContactList.Notes');">
                                                <div class="row">
                                                    <span class="col-md-6">
                                                        @DeceasedContactList.ContactType
                                                    </span>
                                                    <span class="col-md-6">
                                                        @DeceasedContactList.Relationship
                                                    </span>
                                                </div>
                                                <div class="row">
                                                    <span class="col-md-6">
                                                        @DeceasedContactList.Name
                                                    </span>
                                                    <span class="col-md-6">
                                                        07415835716
                                                    </span>
                                                </div>
                                            </a>

                                            <hr />
                                        </li>
                                        ListItem++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    Contact Details

                    <hr />

                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Contact Type</label>
                                    <div id="ContactType" class="form-control"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Relationship</label>
                                    <div id="Relationship" class="form-control"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Name</label>
                                    <div id="Name" class="form-control"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Date Of Birth</label>
                                    <div id="DOB" class="form-control"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Occupation</label>
                                    <div id="Occupation" class="form-control"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Accounts Moderator</label>
                                    <div id="AccountsModerator" class="form-control"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Address</label>
                                    <div id="Address" class="form-control"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">Notes</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>