@using ECMills.Models;
@model dynamic

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            @{
                ViewBag.Title = "Arrangement";
                Layout = "~/Views/Shared/_Layout.cshtml";

                foreach (sp_GetDeceasedProfile_Result DeceasedProfile in Model.DeceasedProfile)
                {
                    <div class="card">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">
                                Edit Profile -
                                <small class="category">Complete your profile</small>
                            </h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Name</label>
                                            <input class="form-control" type="text" name="forenames" placeholder="@DeceasedProfile.Name" aria-required="true" aria-invalid="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Known As</label>
                                            <input class="form-control" type="text" name="forenames" placeholder="@DeceasedProfile.Known_As" aria-required="true" aria-invalid="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Gender</label>
                                            <input class="form-control" type="text" name="forenames" placeholder="@DeceasedProfile.Gender" aria-required="true" aria-invalid="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Age</label>
                                            <input class="form-control" type="text" name="forenames" placeholder="@DeceasedProfile.Age" aria-required="true" aria-invalid="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Date of Birth</label>

                                            @{
                                                DateTime DT = (DateTime)@DeceasedProfile.DOB;
                                                string DOB = DT.ToLongDateString();
                                            }

                                            <input class="form-control datetimepicker" type="text" name="forenames" placeholder="@DOB" aria-required="true" aria-invalid="true">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Date/Time of Death</label>
                                            <input class="form-control datetimepicker" type="text" name="forenames" placeholder="@DeceasedProfile.TimeOfDeath" aria-required="true" aria-invalid="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Marital Status</label>
                                            <input class="form-control" type="text" name="forenames" placeholder="@DeceasedProfile.MaritalStatus" aria-required="true" aria-invalid="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Occupation</label>
                                            <input class="form-control" type="text" name="forenames" placeholder="@DeceasedProfile.Occupation" aria-required="true" aria-invalid="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Religion</label>
                                            <input class="form-control" type="text" name="forenames" placeholder="@DeceasedProfile.Religion" aria-required="true" aria-invalid="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Religious Denomination</label>
                                            <input class="form-control" type="text" name="forenames" placeholder="@DeceasedProfile.ReligiousDenomination" aria-required="true" aria-invalid="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-floating">Additional Notes</label>
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-rose pull-left">Edit Profile</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    Listed Addresses

                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills nav-pills-rose nav-pills-icons justify-content-center" role="tablist">
                                @{
                                    Int16 ListItem = 1;
                                    foreach (sp_GetDeceasedAddressList_Result DeceasedAddressList in Model.DeceasedAddressList)
                                    {

                                        <li class="nav-item col-md-12">
                                            <a class="nav-link @(ListItem == 1 ? "active" : "")" data-toggle="tab" role="tablist" onclick="MyJS.GetDeceasedAddressDetails('@DeceasedAddressList.AddressType','@DeceasedAddressList.AddressLine1','@DeceasedAddressList.AddressLine2','@DeceasedAddressList.City','@DeceasedAddressList.PostCode','@DeceasedAddressList.ContactName','@DeceasedAddressList.ContactNo');">
                                                <b>@DeceasedAddressList.AddressType</b>
                                                <br />
                                                @DeceasedAddressList.AddressLine1, @DeceasedAddressList.AddressLine2, @DeceasedAddressList.City, @DeceasedAddressList.PostCode
                                            </a>
                                            <hr />
                                        </li>
                                        ListItem++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    Address Details

                    <hr />

                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Address Type</label>
                                    <div id="AddressType" class="form-control"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Address Line 1</label>
                                    <div id="AddressLine1" class="form-control"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Address Line 2</label>
                                    <div id="AddressLine2" class="form-control"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">City</label>
                                    <div id="City" class="form-control"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">PostCode</label>
                                    <div id="PostCode" class="form-control"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Contact Name</label>
                                    <div id="ContactName" class="form-control"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-static">Contact Points</label>
                                    <div id="ContactPoints" class="form-control"></div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">Additional Notes</label>
                                        <textarea class="form-control" rows="1"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            demo.initDateTimePicker();
        });    
    </script>
}