@using ECMills.Models;
@model dynamic

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            @{
                ViewBag.Title = "Arrangement";
                Layout = "~/Views/Shared/_Layout.cshtml";

                foreach (sp_GetDeceasedProfile_Result DeceasedProfile in Model.DeceasedProfile)
                {
                    <div class="card">
                        <div class="card-header card-header-icon card-header-rose">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">
                                Edit Profile -
                                <small class="category">Complete your profile</small>
                            </h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Name</label>
                                            <div class="form-control" id="ReadOnlyInput-Name">@DeceasedProfile.Name</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Known As</label>
                                            <div class="form-control" id="ReadOnlyInput-Known_As">@DeceasedProfile.Known_As</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Gender</label>
                                            <div class="form-control" id="ReadOnlyInput-Gender">@DeceasedProfile.Gender</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Age</label>
                                            <div class="form-control" id="ReadOnlyInput-Age">@DeceasedProfile.Age</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Date of Birth</label>

                                            @{
                                                DateTime DT = (DateTime)@DeceasedProfile.DOB;
                                                string DOB = DT.ToLongDateString();
                                            }

                                            <div class="form-control" id="ReadOnlyInput-DOB">@DOB</div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Date/Time of Death</label>
                                            <div class="form-control" id="ReadOnlyInput-TimeOfDeath">@DeceasedProfile.TimeOfDeath</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Marital Status</label>
                                            <div class="form-control" id="ReadOnlyInput-MaritalStatus">@DeceasedProfile.MaritalStatus</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Occupation</label>
                                            <div class="form-control" id="ReadOnlyInput-Occupation">@DeceasedProfile.Occupation</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Religion</label>
                                            <div class="form-control" id="ReadOnlyInput-Religion">@DeceasedProfile.Religion</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group bmd-form-group">
                                            <label class="bmd-label-static">Religious Denomination</label>
                                            <div class="form-control" id="ReadOnlyInput-RelDom">@DeceasedProfile.ReligiousDenomination</div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                    <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Additional Notes</label>
                                            <div class="form-group bmd-form-group">
                                                <label class="bmd-label-floating"> Please type here...</label>
                                                <textarea class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <button type="submit" class="btn btn-rose pull-left">Edit Profile</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-5">
            <div class="card">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Name</label>
                                    <input type="text" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Known As</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Age</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
