@using ECMills.Models;
@model dynamic


    <div class="FluidGrid">
        @{
            ViewBag.Title = "Arrangement";
            Layout = "~/Views/Shared/_Layout.cshtml";

            foreach (sp_GetDeceasedProfile_Result DeceasedProfile in Model.DeceasedProfile)
            {
                <div class="card RemoveMargins">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">@DeceasedProfile.Name</h4>
                        <p class="card-category">@DeceasedProfile.Reference</p>
                    </div>
                    <div class="card-body">
                        <form method="post" onsubmit="return SubmitProfileUpdates();" id="DeceasedProfileForm">
                            <ul>
                                <li>
                                    <article class="form-group bmd-form-group DeceasedProfileForm" id="DeceasedProfileName">
                                        <label class="bmd-label-static">Name</label>
                                        <div class="form-control" id="ReadOnlyInput-Name">@DeceasedProfile.Name</div>
                                    </article>
                                </li>
                                <li>
                                    <article class="form-group bmd-form-group DeceasedProfileForm" id="DeceasedProfileKnownAs">
                                        <label class="bmd-label-static">Known As</label>
                                        <div class="form-control" id="ReadOnlyInput-Known_As">@DeceasedProfile.Known_As</div>
                                    </article>
                                </li>
                                <li>
                                    <article class="form-group bmd-form-group DeceasedProfileForm" id="DeceasedProfileGender">
                                        <label class="bmd-label-static">Gender</label>
                                        <div class="form-control" id="ReadOnlyInput-Gender">@DeceasedProfile.Gender</div>
                                    </article>
                                </li>
                                <li>
                                    <article class="form-group bmd-form-group DeceasedProfileForm" id="DeceasedProfileAge">
                                        <label class="bmd-label-static">Age</label>
                                        <div class="form-control" id="ReadOnlyInput-Age">@DeceasedProfile.Age</div>
                                    </article>
                                </li>
                                <li>
                                    <article class="form-group bmd-form-group DeceasedProfileForm" id="DeceasedProfileDOB">
                                        <label class="bmd-label-static">Date of Birth</label>

                                        @{
                                            DateTime DT = (DateTime)@DeceasedProfile.DOB;
                                            string DOB = DT.ToLongDateString();
                                        }

                                        <div class="form-control" id="ReadOnlyInput-DOB">@DOB</div>
                                    </article>
                                </li>
                                <li>
                                    <article class="form-group bmd-form-group DeceasedProfileForm" id="DeceasedProfileTimeOfDeath">
                                        <label class="bmd-label-static">Date/Time of Death</label>
                                        <div class="form-control" id="ReadOnlyInput-TimeOfDeath">@DeceasedProfile.TimeOfDeath</div>
                                    </article>
                                </li>
                                <li>
                                    <article class="form-group bmd-form-group DeceasedProfileForm" id="DeceasedProfileMaritalStatus">
                                        <label class="bmd-label-static">Marital Status</label>
                                        <div class="form-control" id="ReadOnlyInput-MaritalStatus">@DeceasedProfile.MaritalStatus</div>
                                    </article>
                                </li>
                                <li>
                                    <article class="form-group bmd-form-group DeceasedProfileForm" id="DeceasedProfileOccupation">
                                        <label class="bmd-label-static">Occupation</label>
                                        <div class="form-control" id="ReadOnlyInput-Occupation">@DeceasedProfile.Occupation</div>
                                    </article>
                                </li>
                                <li>
                                    <article class="form-group bmd-form-group DeceasedProfileForm" id="DeceasedProfileReligion">
                                        <label class="bmd-label-static">Religion</label>
                                        <div class="form-control" id="ReadOnlyInput-Religion">@DeceasedProfile.Religion</div>
                                    </article>
                                </li>
                                <li>
                                    <article class="form-group bmd-form-group DeceasedProfileForm" id="DeceasedProfileRelDom">
                                        <label class="bmd-label-static">Religious Denomination</label>
                                        <div class="form-control" id="ReadOnlyInput-RelDom">@DeceasedProfile.ReligiousDenomination</div>
                                    </article>
                                </li>
                                <li>
                                    <button type="button" id="EditProfile_Button" class="btn btn-primary pull-left" onclick="EditDeceasedProfile('@DeceasedProfile.Name', '@DeceasedProfile.Known_As', '@DeceasedProfile.Gender', '@DeceasedProfile.Age', '@DeceasedProfile.DOB', '@DeceasedProfile.TimeOfDeath', '@DeceasedProfile.MaritalStatus', '@DeceasedProfile.Occupation', '@DeceasedProfile.Religion', '@DeceasedProfile.ReligiousDenomination')">
                                        Edit Profile
                                    </button>
                                </li>
                                <li>
                                    <div id="UpdateProfileDiv"></div>
                                </li>
                                <li>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            }
        }

        <div class="card RemoveMargins">
            <div class="card-body">
                Listed Addresses
                <hr />
                <div class="FluidList">
                        @{
                            Int32 DeceasedAddressID = 0;
                            Dictionary<string, string> AddressDictionaryArray = new Dictionary<string, string>();
                        }
                        @foreach (sp_GetDeceasedAddressList_Result DeceasedAddressList in Model.DeceasedAddressList)
                        {
                            DeceasedAddressID = DeceasedAddressID + 1;

                            // Add address details into the dictionary array called "AddressDictionaryArray"
                            AddressDictionaryArray.Add(String.Format("AddressType_{0}", DeceasedAddressID.ToString()), DeceasedAddressList.AddressType);
                            AddressDictionaryArray.Add(String.Format("AddressLine1_{0}", DeceasedAddressID.ToString()), DeceasedAddressList.AddressLine1);
                            AddressDictionaryArray.Add(String.Format("AddressLine2_{0}", DeceasedAddressID.ToString()), DeceasedAddressList.AddressLine2);
                            AddressDictionaryArray.Add(String.Format("City_{0}", DeceasedAddressID.ToString()), DeceasedAddressList.City);
                            AddressDictionaryArray.Add(String.Format("PostCode_{0}", DeceasedAddressID.ToString()), DeceasedAddressList.PostCode);
                            AddressDictionaryArray.Add(String.Format("ContactName_{0}", DeceasedAddressID.ToString()), DeceasedAddressList.ContactName);
                            AddressDictionaryArray.Add(String.Format("ContactPoints_{0}", DeceasedAddressID.ToString()), DeceasedAddressList.ContactNo);
                            <button id="@DeceasedAddressID" type="button" onclick="GetDeceasedAddressDetails(@DeceasedAddressID)" class="AddressButton btn btn-outline-primary text-left">
                                @DeceasedAddressList.AddressType
                                <br />
                                @DeceasedAddressList.AddressLine1, @DeceasedAddressList.AddressLine2, @DeceasedAddressList.City, @DeceasedAddressList.PostCode
                            </button>
                        }
                    </div>
                </div>
        </div>
        <div class="card RemoveMargins">
            <div class="card-body">
                Address Details

                <hr />

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Address Type
                    </label>
                    <div id="AddressType" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Address Line 1
                    </label>
                    <div id="AddressLine1" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Address Line 2
                    </label>
                    <div id="AddressLine2" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        City
                    </label>
                    <div id="City" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        PostCode
                    </label>
                    <div id="PostCode" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Contact Name
                    </label>
                    <div id="ContactName" class="form-control">

                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label class="bmd-label-static">
                        Contact Points
                    </label>
                    <div id="ContactPoints" class="form-control">

                    </div>
                </div>

                <div class="form-group">
                    <label>Notes</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
     </div>       

@section scripts {
    <script type="text/javascript">
        function GetDeceasedAddressDetails(DeceasedAddressID)
        {   // Clear the current address detail values from the page to get ready for the new values
            $("#AddressType").empty();
            $("#AddressLine1").empty();
            $("#AddressLine2").empty();
            $("#City").empty();
            $("#PostCode").empty();
            $("#ContactName").empty();
            $("#ContactPoints").empty();

            // Add the correct address detail for the selected address
            if (DeceasedAddressID == 1)
            {
                $('#AddressType').append("@AddressDictionaryArray["AddressType_1"]");
                $("#AddressLine1").append("@AddressDictionaryArray["AddressLine1_1"]");
                $("#AddressLine2").append("@AddressDictionaryArray["AddressLine2_1"]");
                $("#City").append("@AddressDictionaryArray["City_1"]");
                $("#PostCode").append("@AddressDictionaryArray["PostCode_1"]");
                $('#ContactName').append("@AddressDictionaryArray["ContactName_1"]");
                $('#ContactPoints').append("@AddressDictionaryArray["ContactPoints_1"]");
            } else
            if (DeceasedAddressID == 2)
            {
                $('#AddressType').append("@AddressDictionaryArray["AddressType_2"]");
                $("#AddressLine1").append("@AddressDictionaryArray["AddressLine1_2"]");
                $("#AddressLine2").append("@AddressDictionaryArray["AddressLine2_2"]");
                $("#City").append("@AddressDictionaryArray["City_2"]");
                $("#PostCode").append("@AddressDictionaryArray["PostCode_2"]");
                $('#ContactName').append("@AddressDictionaryArray["ContactName_2"]");
                $('#ContactPoints').append("@AddressDictionaryArray["ContactPoints_2"]");
            } else
            if (DeceasedAddressID == 3)
            {
                $('#AddressType').append("@AddressDictionaryArray["AddressType_3"]");
                $("#AddressLine1").append("@AddressDictionaryArray["AddressLine1_3"]");
                $("#AddressLine2").append("@AddressDictionaryArray["AddressLine2_3"]");
                $("#City").append("@AddressDictionaryArray["City_3"]");
                $("#PostCode").append("@AddressDictionaryArray["PostCode_3"]");
                $('#ContactName').append("@AddressDictionaryArray["ContactName_3"]");
                $('#ContactPoints').append("@AddressDictionaryArray["ContactPoints_3"]");
            }
        };

        // backslash + quote is an escape character for single quote (e.g  \' )
        function EditDeceasedProfile(Name, Known_As, Gender, Age, DOB, TimeOfDeath, MaritalStatus, Occupation, Religion, ReligiousDenomination)
        {
            // Redo this section by passing an array as the variable with all the values
            // Then loop through the array values and run dynamic JS to replace the div's
            $('#ReadOnlyInput-Name'         ).replaceWith('<input name="Name"            id="ReadWriteInput-Name"          type="text" class="form-control" placeholder="' + Name                  + '" />');
            $('#ReadOnlyInput-Known_As'     ).replaceWith('<input name="Known_As"        id="ReadWriteInput-Known_As"      type="text" class="form-control" placeholder="' + Known_As              + '" />');
            $('#ReadOnlyInput-Gender'       ).replaceWith('<input name="Gender"          id="ReadWriteInput-Gender"        type="text" class="form-control" placeholder="' + Gender                + '" />');
            $('#ReadOnlyInput-Age'          ).replaceWith('<input name="Age"             id="ReadWriteInput-Age"           type="text" class="form-control" placeholder="' + Age                   + '" />');
            $('#ReadOnlyInput-DOB'          ).replaceWith('<input name="DOB"             id="ReadWriteInput-DOB"           type="text" class="form-control datetimepicker" placeholder="' + DOB                   + '" />');
            $('#ReadOnlyInput-TimeOfDeath'  ).replaceWith('<input name="TimeOfDeath"     id="ReadWriteInput-TimeOfDeath"   type="text" class="form-control datetimepicker" placeholder="' + TimeOfDeath           + '" />');
            $('#ReadOnlyInput-MaritalStatus').replaceWith('<input name="MaritalStatus"   id="ReadWriteInput-MaritalStatus" type="text" class="form-control" placeholder="' + MaritalStatus         + '" />');
            $('#ReadOnlyInput-Occupation'   ).replaceWith('<input name="Occupation"      id="ReadWriteInput-Occupation"    type="text" class="form-control" placeholder="' + Occupation            + '" />');
            $('#ReadOnlyInput-Religion'     ).replaceWith('<input name="Religion"        id="ReadWriteInput-Religion"      type="text" class="form-control" placeholder="' + Religion              + '" />');
            $('#ReadOnlyInput-RelDom'       ).replaceWith('<input name="RelDom"          id="ReadWriteInput-RelDom"        type="text" class="form-control" placeholder="' + ReligiousDenomination + '" />');

            $('#EditProfile_Button').replaceWith('<button type="button" id="CancelDeceasedProfileEdit_Button" class="btn btn-primary pull-left" onclick="CancelDeceasedProfileEdit(\'' + Name + '\',\'' + Known_As + '\',\'' + Gender + '\',\'' + Age + '\',\'' + DOB + '\',\'' + TimeOfDeath + '\',\'' + MaritalStatus + '\',\'' + Occupation + '\',\'' + Religion + '\',\'' + ReligiousDenomination + '\')">Cancel</button>');
           // $('#UpdateProfileDiv').append('<button type="button" onclick="SubmitProfileUpdates()" class="btn btn-primary pull-right">Update Profile</button>')
            $('#UpdateProfileDiv').append('<input type="submit" class="btn btn-primary pull-right" />')

                $('.datetimepicker').datetimepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });
        };

        // backslash + quote is an escape character for single quote (e.g  \' )
        function CancelDeceasedProfileEdit(Name, Known_As, Gender, Age, DOB, TimeOfDeath, MaritalStatus, Occupation, Religion, ReligiousDenomination)
        {
            $('#ReadWriteInput-Name'         ).replaceWith('<div class="form-control" id="ReadOnlyInput-Name">'             + Name                  + '</div>');
            $('#ReadWriteInput-Known_As'     ).replaceWith('<div class="form-control" id="ReadOnlyInput-Known_As">'         + Known_As              + '</div>');
            $('#ReadWriteInput-Gender'       ).replaceWith('<div class="form-control" id="ReadOnlyInput-Gender">'           + Gender                + '</div>');
            $('#ReadWriteInput-Age'          ).replaceWith('<div class="form-control" id="ReadOnlyInput-Age">'              + Age                   + '</div>');
            $('#ReadWriteInput-DOB'          ).replaceWith('<div class="form-control" id="ReadOnlyInput-DOB">'              + DOB                   + '</div>');
            $('#ReadWriteInput-TimeOfDeath'  ).replaceWith('<div class="form-control" id="ReadOnlyInput-TimeOfDeath">'      + TimeOfDeath           + '</div>');
            $('#ReadWriteInput-MaritalStatus').replaceWith('<div class="form-control" id="ReadOnlyInput-MaritalStatus">'    + MaritalStatus         + '</div>');
            $('#ReadWriteInput-Occupation'   ).replaceWith('<div class="form-control" id="ReadOnlyInput-Occupation">'       + Occupation            + '</div>');
            $('#ReadWriteInput-Religion'     ).replaceWith('<div class="form-control" id="ReadOnlyInput-Religion">'         + Religion              + '</div>');
            $('#ReadWriteInput-RelDom'       ).replaceWith('<div class="form-control" id="ReadOnlyInput-RelDom">'           + ReligiousDenomination + '</div>');

            $('#CancelDeceasedProfileEdit_Button').replaceWith('<button type="button" id="EditProfile_Button" class="btn btn-primary pull-left" onclick="EditDeceasedProfile(\'' + Name + '\',\'' + Known_As + '\',\'' + Gender + '\',\'' + Age + '\',\'' + DOB + '\',\'' + TimeOfDeath + '\',\'' + MaritalStatus + '\',\'' + Occupation + '\',\'' + Religion + '\',\'' + ReligiousDenomination + '\')">Edit Profile</button>');
            $('#UpdateProfileDiv').empty();
        };

    function SubmitProfileUpdates() {

        event.preventDefault;

        var Name = document.getElementById("ReadWriteInput-Name").value;
        var Test = $('input[name=Name]').val();
        var Known_As        =   document.getElementById("ReadWriteInput-Known_As").value;
        var Gender          =   document.getElementById("ReadWriteInput-Gender").value;
        var Age             =   document.getElementById("ReadWriteInput-Age").value;
        var DOB             =   document.getElementById("ReadWriteInput-DOB").value;
        var TimeOfDeath     =   document.getElementById("ReadWriteInput-TimeOfDeath").value;
        var MaritalStatus   =   document.getElementById("ReadWriteInput-MaritalStatus").value;
        var Occupation      =   document.getElementById("ReadWriteInput-Occupation").value;
        var Religion        =   document.getElementById("ReadWriteInput-Religion").value;
        var RelDom          =   document.getElementById("ReadWriteInput-RelDom").value;

        var form = $(this);
        var url = form.attr('action');

        var tester = form.serialize();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ProfileUpdate","Arrangement")',
            data: form.serialize(),
            /*
                Name: Name,
                Known_As: Known_As,
                Gender: Gender,
                Age: Age,
                DOB: DOB,
                TimeOfDeath: TimeOfDeath,
                MaritalStatus: MaritalStatus,
                Occupation: Occupation,
                Religion: Religion,
                RelDom: RelDom
            },
            */
            success: function (data)
                    {
                        if (data.status == "Success")
                        {
                            alert("Done");
                            $(element).closest("form").submit(); //<------------ submit form
                        } else
                        {
                            alert("Error occurs on the Database level!");
                        }
                    },
            error: function ()
                    {
                        alert("An error has occured!!!");
                    }
        });

            };
    </script>
}
